:root {
    --text-color: #FFFFFF;
    --text-color-secondary: #A8A8A8;
    --text-color-basic: #81BECB;
    --text-color-pale: #A4A4A4;
    --text-color-dark: #1C1D1F; // Dark font for white background
    
    --background-color: #171717;

    --font-size-sm: 12px;
    --font-size-m: 18px;

    --font-weight-m: 400px;

    --line-height-m: 21px;
}